.mfp-container {

}

.mfp-image-holder {

}

.mfp-s-ready {

}

.mfp-content {

}

.mfp-figure {

}


.mfp-img {
  // max-height: 800px !important;
}

.mfp-close {
  cursor: pointer !important;
}

.mfp-arrow {

}

.mfp-arrow-left {

}

.mfp-arrow-right {

}

.mfp-prevent-close {

}

.mfp-zoom-out-cur {

}

.mfp-bg {

}

.mfp-ready {

}

.mfp-wrap {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.mfp-gallery {

}

.mfp-close-btn-in {

}

.mfp-auto-cursor {

}

.mfp-content {

}

.mfp-figure {

}

.mfp-preloader {

}