.cta-list {
  margin: 0;
  padding: 0;

  text-align: center;
}

.cta-list__item {
  display: inline-block;
  position: relative;
  border: 2px solid $ca_txt_cta;
  border-radius: 22px;
  padding: 10px 25px;

  font-family: $fa_text_cta;
  text-transform: uppercase;
  list-style: none;
  overflow: hidden;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 100px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: opacity .4s ease;
    opacity: 0;

    background-color: $ca_txt_cta;
  }

  @include bp( $b_tablet) {
      margin-bottom: 10px;
  }

  &:hover {
    &:before {
      opacity: .2;
    }
  }
}
