.cta-list {
  margin: 0;
  padding: 0;

  text-align: center;
}

.cta-list__item {
  display: inline-block;
  list-style: none;

  font-family: $fa_text_cta;
  &:not(:last-child) {
    margin-right: 20px;
  }

  @include bp( $b_tablet) {
      margin-bottom: 10px;
  }
}
