.cta-list {
  margin: 0;
  padding: 0;

  text-align: center;
}

.cta-list__item {
  display: block;
  margin-bottom: 10px;
  list-style: none;

  @include bp( $b_tablet) {

  }

  @include bp( $b_tablet_m ) {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 100px;
      margin-bottom: 0;
    }
  }
}
