.main-menu {
  font-family: $fa_text_cta;

  @include bp($b_laptop_m) {
    text-align: right;
  }
}

.main-menu__list {
  margin: 0;
  padding: 0;
}

.main-menu__item {
  display: inline-block;
  position: relative;

  &:not(:last-child) {
    margin-right: 40px;
  }

  @include bp($b_tablet) {
    display: block;
    margin-right: 0;
    margin-bottom: 12px;
    text-align: left;

    &:nth-child(2) {
      margin-left: 22px;
    }

    &:nth-child(3) {
      margin-left: 51px;
    }
  }
}

.main-menu__link {
  position: relative;
  color: $ca_txt_header;

  &:before {
    content: '';
    position: absolute;
    bottom: 3px;
    right: -60px;
    border-radius: 3px;
    width: 60px;
    height: 1px;

    transform: scale(0);
    transition: transform .4s ease;
    transform-origin: 40% 0;

    background-color: $ca_txt_header;

    @include bp( $b_tablet_m ) {
      bottom: -2px;
      left: 0;
      width: 100%;
    }
  }

  &:hover {
    &:before {
      transform: scale(1);
    }
  }

  .main-menu__item--current & {
    &:before {
      transform: scale(1);
    }
  }
}