/* =========================================
		Site
   ========================================= */

.site,
.site__body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;

	@include bp( $b_tablet ) {
		padding: 10px;
	}

	a {
		text-decoration: none;
	}
}