/* =========================================
		Site
   ========================================= */

.site {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: $c_black;

	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

		z-index: $z_behind_scenes;
		pointer-events: none;
		user-select: none;

		background: url($p_images + $im_hero_bg) no-repeat;
		background-size: cover;
	}

	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

		z-index: $z_bg;
		pointer-events: none;
		user-select: none;
		opacity: .6;

		background-color: $ca_hero_bg;
	}
}

.site__body {
	position: relative;
	left: 50%;
	max-width: $d_container_site_max;
	min-height: 88vh;
	transform: translateX(-50%);

	@include bp( $b_laptop_m ) {
	    padding-top: 70px;
		padding-bottom: 40px;
	}

	@include bp( $b_desktop ) {
		padding-bottom: 75px;
	}

	a {
		text-decoration: none;
	}

	&--fb {
		position: relative;

		z-index: $z_normal;
	}
}
