.text {
  margin-bottom: 10vh;
  max-width: 580px;

  font-family: $fa_text_body;
  color: $ca_txt_body;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--low-margin {
    margin-bottom: 5vh;
  }
}
