/* =========================================
		Color Index
   ========================================= */
/**
 * Prefix colors with $c_ this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

// color codes:
$c_black: #000;
$c_white: #fff;
$c_red: #f00;
$c_green: #0f0;


// state
$ca_highlight: blueviolet;
$ca_error: $c_red;
$ca_success: $c_green;


// elements
$ca_bg_body: transparent;
$ca_hero_bg: $c_black;

// typography
$ca_txt_header: $c_white;
$ca_txt_body: $c_white;
$ca_txt_cta: $c_white;