/* =========================================
		Dimensions
   ========================================= */
/**
 * Prefix dimensions with $d_
 * to make them easier to find
 * with autocomplete
 *
 */

// examples:

// containers
$d_container_site_max: 85%;
$d_container_prize-list_min: 93vw;
$d_container_prize-list_max: 600px;


// gutters
$d_default_gutter: 20px;
