/* =========================================
		Dimensions
   ========================================= */
/**
 * Prefix dimensions with $d_
 * to make them easier to find
 * with autocomplete
 *
 */

// examples:

// containers
$d_container_site_max: 85%;
$d_container_site_max--narrow: 60%;
$d_container_prize-list_min: 93vw;
$d_container_prize-list_max: 600px;
$d_container_fb_width: 820px;
$d_container_fb_height: 800px;


// gutters
$d_default_gutter: 20px;

// radius
$d_radius: 4px;